.chart {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    border-radius: 12px;

    background-color: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}

.chart:not(:first-child){
    margin-top: 15px;
}