.expenses-filter {
    font-size: 20px;
}



.expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.expenses-filter label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-shadow: 1px 1px 0 #999;
}

.expenses-filter select {
    font: inherit;

    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 0 16px;
    background-color: #EBECF0;
    height: 48px;

    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    color: #333;
    text-shadow: 1px 1px 0 #999;
    font-weight: bold;

}
