.expenses-summary{
    margin-top: 20px;
}
.expenses-summary.summary-nodata{
    display: none;
}

.expenses-summary ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    column-gap: 20px;
}
.expenses-summary li{
    list-style: none;
    flex: 1 1 0;
    background-color: #EBECF0;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.expenses-summary li h3{
    margin: 0;
    padding: 0;
    color: #333;
    text-shadow: 1px 1px 0 #999;
}
.expenses-summary__text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.expenses-summary li strong{
    font-size: 20px;
    font-weight: bold;
}

.expenses-summary__plus strong{
    color: #6caedb;
    text-shadow: 1px 1px 0 #93cdf5;
}

.expenses-summary__minus strong{
    color: #ff8080;
    text-shadow: 1px 1px 0 #ffb3b3;
}

.expenses-summary__total strong{
    color: darkseagreen;
    text-shadow: 1px 1px 0 yellowgreen;
}

.expenses-summary li svg{
    margin: 0 auto;
}

.expenses-summary__plus svg{
    color: #6caedb;
    filter: drop-shadow(2px 2px 2px #93cdf5);
}

.expenses-summary__minus svg{
    color: #ff8080;
    filter: drop-shadow(2px 2px 2px #ffb3b3);
}

.expenses-summary__total svg{
    color: darkseagreen;
    filter: drop-shadow(2px 2px 2px yellowgreen);
}


@media screen and (max-width: 600px) {
    .expenses-summary ul{
        column-gap: 0;
        flex-direction: column;
        row-gap: 15px;
    }
    .expenses-summary li{
        padding: 20px;
        width: 100%;
    }
    .expenses-summary li h3{
        font-size: 14px;
    }
    .expenses-summary li strong{
        font-size: 16px;
    }
}