.expenses {
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    padding: 2rem;

    background-color: #EBECF0;
    overflow: hidden;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}