.expense-date {
    display: inline-flex;
    border-radius: 12px;
    background-color: #EBECF0;
    overflow: hidden;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    padding: 20px;
    margin-top: 20px;
    column-gap: 5px;
}

.expense-date *{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 0 #999;
}

.expense-date__month {
}

.expense-date__year {
}

.expense-date__day {
}