.new-expense {
    padding: 2rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;

    background-color: #EBECF0;
    overflow: hidden;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}

.new-expense button {

}
.new-expense button:hover,
.new-expense button:active {
}

.new-expense button.alternative {
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
}