.new-expense {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

html body .new-expense > .controls__button{
    width: 100%;
}
.new-expense button:hover,
.new-expense button:active {
}

.new-expense button.alternative {
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
}

.tempClick{
    padding: 2rem;
}